/*Header*/

header {
  display: flex;
  flex-grow: 1;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border: solid;
  border-color: black;
  border-width: thin;
  max-width: 740px;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo img {
  width: 70;
  height: 60;
  margin-right: 12px;
}

.header span {
  color: MediumAquamarine;
}

nav span {
  display: inline-block;
  padding: 20px 10px
}

/*Main Content*/

.content {
  display: flex;
  flex-grow: 1;
  border-style: solid;
  border-color: black;
  border-width: thin;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.content.column.large {
  display: flex
  width: 630px;
  border-style: solid;
  border-color: black;
  border-width: thin;
}

.column.main {
  border-style: solid;
  border-color: black;
  border-width: thin;
}

.column.second {
  border-style: solid;
  border-color: black;
  border-width: thin;
}

.column.third {
  border-style: solid;
  border-color: black;
  border-width: thin;
}

.column.medium {
  width: 300px;
  border-style: solid;
  border-color: black;
  border-width: thin;
}

.column.small {
  width: 240px;
  border-style: solid;
  border-color: black;
  border-width: thin;
}

/*Footer*/

footer{
  display: flex;
  flex-grow: 1;
  border: solid;
  border-color: black;
  border-width: thin;
}
