/*Header*/

header {
  display: flex;
  flex-grow: 1;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border: solid;
  border-color: black;
  border-width: thin;
  max-width: 740px;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo img {
  width: 70;
  height: 60;
  margin-right: 12px;
}

.header span {
  color: MediumAquamarine;
}

nav span {
  display: inline-block;
  padding: 20px 10px
}

/*Main Content*/

.content {
  display: flex;
  flex-grow: 1;
  border-style: solid;
  border-color: black;
  border-width: thin;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.column {
  display: flex;
  border-style: solid;
  border-color: black;
  border-width: thin;
}

.img {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.story {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.column.large {
  display: flex;
  flex-direction: column;
  width: 630px;
}

.large.img.mother {
  background-image: url(../images/mainstory.png);
  background-position: center;
}

.large.main.story {
  border-style: solid;
  border-color: black;
  border-width: thin;
}

.large.second.story {
  border-style: solid;
  border-color: black;
  border-width: thin;
}

.large.img.earth {
  background-image: url(../images/fallseason.png);
  background-position: center;
  border-style: solid;
  border-color: black;
  border-width: thin;
}

.large.third.story {
  border-style: solid;
  border-color: black;
  border-width: thin;
}

.large.img.camera {
  background-image: url(../images/cameraguy.png);
  background-position: center;
  border-style: solid;
  border-color: black;
  border-width: thin;
}

.column.medium {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.column.small {
  display: flex;
  width: 240px;
  display: flex;
  flex-direction: column;
}

/*Footer*/

footer{
  display: flex;
  flex-grow: 1;
  border: solid;
  border-color: black;
  border-width: thin;
}
